$icomoon-font-path: "fonts" !default;

$acon-home: "\e900";
$acon-home3: "\e902";
$acon-droplet: "\e90b";
$acon-pacman: "\e916";
$acon-spades: "\e917";
$acon-clubs: "\e918";
$acon-diamonds: "\e919";
$acon-connection: "\e91b";
$acon-stack: "\e92e";
$acon-price-tag: "\e935";
$acon-lifebuoy: "\e941";
$acon-location2: "\e948";
$acon-map: "\e94b";
$acon-map2: "\e94c";
$acon-database: "\e964";
$acon-shrink: "\e98a";
$acon-lock: "\e98f";
$acon-cog: "\e994";
$acon-trophy: "\e99e";
$acon-leaf: "\e9a4";
$acon-fire: "\e9a9";
$acon-target: "\e9b3";
$acon-power: "\e9b5";
$acon-cloud: "\e9c1";
$acon-sphere: "\e9c9";
$acon-earth: "\e9ca";
$acon-link: "\e9cb";
$acon-eye: "\e9ce";
$acon-bookmark: "\e9d2";
$acon-sun: "\e9d4";
$acon-contrast: "\e9d5";
$acon-star-empty: "\e9d7";
$acon-star-full: "\e9d9";
$acon-heart: "\e9da";
$acon-plus: "\ea0a";
$acon-cross: "\ea0f";
$acon-checkmark: "\ea10";
$acon-checkmark2: "\ea11";
$acon-play3: "\ea1c";
$acon-pause2: "\ea1d";
$acon-stop2: "\ea1e";
$acon-infinite: "\ea2f";
$acon-command: "\ea4e";
$acon-checkbox-checked: "\ea52";
$acon-checkbox-unchecked: "\ea53";
$acon-radio-checked: "\ea54";
$acon-radio-checked2: "\ea55";
$acon-radio-unchecked: "\ea56";
$acon-section: "\ea76";

