
/*===== Levels =====*/
.level {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
		flex-direction: row;
		justify-content: flex-start;
	width: 100%;
	position: fixed;
	height: $d;
	padding: 1rem;
	bottom: 1rem;
	left: 0;

	& > * {
		position: relative;
	}
}


/*===== Burger Menu =====*/
.burger-menu {
	$pad: 0.7em;
	$x: 1em;
	color: $primary;
	font-size: 20px;
	border-radius: 50%;
	background-color: #fff;
	height: $d;
	width: $d;
	line-height: $d;
	cursor: pointer;
	text-align: center;

	.icon-burger-menu {
		width: 1em;
		height: initial;
	}
}

/*===== Winnings =====*/
.winnings {
	font-size: 1.5rem;
	font-weight: 600;
	height: $d;
	width: $d;
	line-height: $d;
	text-align: center;
	border-radius: $d/2;
	padding: 0;
	// position: fixed;
	// bottom: $abs-cushion;
	// left: $abs-cushion;

	background-color: $winnings;
	color: #fff;
}
/*===== Wild Area =====*/
.wild-suit-area {
	// height: $d;
	// width: $d*2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
		font-size: 3rem;
		height: 1em;
		width: initial;
		min-width: 2em;
		border-radius: 0;
	.wild-suit {
		flex: 1;
		font-size: inherit;
		height: 1em;
		width: 1em;
		margin: 0 10px;
	}
}
