
// Card Colors
$suit-red: #FA4A2F;
$suit-orange: #FF8B3D;
$suit-yellow: #FAEF23;
$suit-green: #08CC56;
$suit-blue: #3599DB;
$suit-purple: #9B59B6;
$suit-pink: #FA2FB4;
$suit-brown: #CA6924;
$suit-wild: transparent;

// State Colors
$default-state: #6D7585;
$blue-state: #3599DB;
$green-state: #2ecc71;
$disabled-state: rgba(#6D7585,0.5);
$mono-state: #929EB3;

// Text Colors
$primary: rgba(#000, .87);
$secondary: rgba(#000, .6);
$faint: rgba(#000, .4);

// Card Variables
$card-color: #ffffff;
$card-shadow-color: rgba(97,122,128,.08);
$card-text-color: #fff;
$card-text-color-alt: rgba(#000,0.87);
$card-url: url('../graphics/card-20.svg');


$background: #ECF0F1;
$winnings: #FFA400;
$winnings: #FFB61E;
$border-color: rgba(#000,0.24);

$abs-cushion: 10px;

$shadow: 0em 0.5em 2em 2em rgba(97,122,128,.08);