// Card Colors
$suit-red: #FA4A2F;
$suit-orange: #FF8B3D;
$suit-yellow: #FAEF23;
$suit-green: #08CC56;
$suit-blue: #3599DB;
$suit-purple: #9B59B6;
$suit-pink: #FA2FB4;
$suit-brown: #CA6924;
$suit-wild: #FFF;

$default-state: #6D7585;
$blue-state: #3599DB;
$green-state: #2ecc71;
$disabled-state: rgba(#6D7585,0.5);
$mono-state: #929EB3;

$background: #ecf0f1;

$primary: rgba(#000, .87);
$secondary: rgba(#000, .6);

$card-color: #ffffff;
$card-shadow-color: rgba(97,122,128,.08);
$card-text-color: #fff;
$card-text-color-alt: rgba(#000,0.87);


$border-color: rgba(#000,0.24);

$abs-cushion: 10px;

html {
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
	margin: 0;
	background-color: $background;
}
#game-root {
	margin: auto;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*===== CARD =====*/
	.card {
		font-size: 1.5rem;
		// height: 15em;
		// width: 10em;
		height: 100%;
		width: 100%;
		border: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em 1.5em;
		border-radius: 1em;
		color: $card-text-color-alt;
		background-color: $card-color;
		// box-shadow: 0em 0.5em 2em 2em rgba(97,122,128,.08);
		margin-bottom: 10px;
		position: absolute;

		// Only apply box shadow to bottom card (or else they will stack)
		&:first-child {
			box-shadow: 0em 0.5em 2em 2em rgba(97,122,128,.08);
		}
		
		// All children should be ignored
		* { pointer-events: none; }

		/*===== Subject =====*/
			.subject {
				font-size: 2em;
				text-align: center;
				padding: 0.5em;
				border-radius: 10px;
				font-weight: 700;
				transform: rotateZ(180deg);
				// &:first-child {
				// }
			}
		/*===== Suit Area =====*/
			.suit-area {
				font-size: 7rem;
				margin: 3rem auto;
				$size: 4rem;
				height: $size;
				width: $size;
				border-radius: 1rem;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				&.wild-area {
					width: 2*$size;
				}
				.suit {
					flex: 1;
					height: 100%;
				}
			}
	}


/*===== Winnings =====*/
	.winnings {
		font-size: 1.5rem;
		font-weight: 600;
		background-color: $suit-yellow;
		color: $primary;
		$dimension: 2.4em;
		height: $dimension;
		width: $dimension;
		line-height: $dimension;
		text-align: center;
		border-radius: $dimension/2;
		padding: 0;
		position: fixed;
		bottom: $abs-cushion;
		left: $abs-cushion;
	}
/*===== Active Pile=====*/
	.pile {
		font-size: 1.5rem;
		padding: 0;
		position: relative;
		cursor: pointer;
		margin: auto;
		
		$w: 90vw;
		width: $w;
		height: 1.5*$w;

		$max-w: 400px;
		max-height: $max-w * 1.5;
		max-width: $max-w;

	}
/*===== Wild Area =====*/
	.wild-suit-area {
		$size: 60px;
		height: 2*$size;
		width: $size;
		overflow: hidden;
		position: absolute;
		top: $abs-cushion;
		right: $abs-cushion;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: .5rem;
		.wild-suit {
			flex:1;
			height: $size;
			width: $size;
		}
	}

/*===== Buttons =====*/
	.ws-btn {
		background-color: $default-state;
		font-size: 14px;
		margin: 5px;
		font-weight: 300;
	}
	.action {
		font-size: 1.5rem;
		$h: 2em;
		height: $h;
		line-height: $h;
		width: 2*$h;
		padding: 0;
		margin: 0;
		border-radius: $h/2;
		// font-weight: 700;
		// text-transform: uppercase;
		letter-spacing: 1px;
		background-color: $default-state;
		border: none;
		outline: none;
		position: absolute;
		bottom: $abs-cushion;
		right: $abs-cushion;
		// &:focus {
		// 	border: none;
		// }
	}


/*===== Control Panel =====*/
	.control-panel {
		padding: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		// flex-wrap: wrap;
		max-width: 200px;
		margin: auto;
		position: fixed;
		top: 0;
		left: 0;
	}
	.panel-section {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		flex-wrap: wrap;
		.panel-title {
			margin-bottom: 5px;
		}
	}
	.action-control {
		cursor: pointer;
	}

/*===== Roll Call =====*/
	.roll-call {
		font-size: 1.5rem;
		font-weight: 600;
		padding: 0.5em 1em;
		padding-top: 0.5em;
		border-radius: 8px;
		background-color: #fff;

		.section-title {
			font-size: 0.5em;
			text-transform: uppercase;
			line-height: 3;
			font-weight: 700;
			letter-spacing: 1px;
			border-bottom: 2px solid $border-color;
			color: $secondary;
		}
		.roll-call-list {
			padding: 0;
		}
		li,
		.player-in-lobby {
			// font-size: 1em;
			margin: 8px 0;
			display: list-item;
		}
	}
/*===== Modal =====*/
	.ws-modal2 {
		background-color: transparent;
		width: initial;
		height: initial;
		margin: auto;
		max-width: 240px;
	}
	.ws-modal-overlay.ws-modal-overlay_after-open {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.player-list {
		// width: 400px;
		// height: 600px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		h3 {
			color: #fff;
			margin-bottom: 12px;
		}
		li {
			font-size: 1.5rem;
			padding: 0.8em 1em;
			margin: 0.5em 0;
			border-radius: 10px;
			min-width: 160px;
			line-height: 1;
			
			// background-color: rgba(#000,0.25);
			// color: #fff;
			background-color: #fff;
			color: rgba(#000,0.8);
			font-weight: 600;
			cursor: pointer;
		}
	}

/*===== Forms =====*/
	.game-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
	}
	.form-info {
		font-size: 1rem;
		.form-headline {
			font-size: 1.5em;
			color: $secondary;
			text-align: center;
			line-height: 2;
			letter-spacing: .1em;
			text-transform: uppercase;
			font-weight: 600;
		}
		.form-subheadline {
			color: $secondary;
		}
	}
	.input-group {
		margin: .5em 0;
		position: relative;
	}
	.form-group {
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		align-items: center;
		button {
			flex: 1;
		}
	}
	input {
		font-size: inherit;
		border: 2px solid $border-color;
		border-radius: 5px;
		// margin-left: 10px;
		padding: 0.5em;

		&:focus {
			outline: none;
			border-color: $blue-state;
		}
	}
	label {
		position: absolute;
		left: .5em;
		top: .5em;
		color: rgba(0,0,0,0.5);
		opacity: 0;
		// &:focus{
		// 	opacity: 0;
		// }
	}
	button {
		border: 2px solid transparent;
		
		&:focus {
			outline: none;
			border-color: $blue-state;
		}
	}


/*===== Logs =====*/
	.log {
		font-size: 12px;
		position: fixed;
		bottom: 4rem;
		left: 0;
		z-index: 999999;
		padding: .5em;
		li {
			line-height: 1.1;
			display: block;
		}
		&.gamelog {
			bottom: 0;
			top: auto;
		}
	}
	.feed-container {
		font-size: 14px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 999999;
		padding: 1em;
		outline: 1px solid blue;
	}
	.feed {
		font-size: 14px;
		padding-left: 1.5em;
		li {
			font-size: inherit;
			display: list-item;
			list-style-type: disc;
			margin: 0;
			padding: 0;
			line-height: 1.3;
		}
	}

/*===== Colors =====*/
	.red { background-color: $suit-red }
	.orange { background-color: $suit-orange }
	.yellow { background-color: $suit-yellow; }
	.green { background-color: $suit-green }
	.blue { background-color: $suit-blue }
	.purple { background-color: $suit-purple }
	.pink { background-color: $suit-pink }
	.brown { background-color: $suit-brown }
	.wild { background-color: $suit-wild; }


