@import "variables";
@import "hero-patterns";
@import "forms","cards","modals","roll-call","buttons","peripherals";
@import 'suits';

html {
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	@include hero-background($hero-pattern-circuit,$background);

	height: initial;
	min-height: 100vh;
}

body {
	margin: 0;
	background-color: transparent;
	overflow: hidden;
	min-height: 80vh;
}
.ghost {
	position: absolute;
}
/*===== Root =====*/
	#game-root {
		margin: auto;
		min-height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 2rem;
	}

/*===== PILE =====*/
	.pile {
		font-size: 1.5rem;
		padding: 0;
		position: relative;
		cursor: pointer;
		// margin: auto;

		width: $w;
		height: 1.5*$w;
		max-height: $max-w * 1.5;
		max-width: $max-w;

		border-radius: 2.4em;
		box-shadow: $shadow;
		overflow: visible;
	}

/*===== Focal Point / Spotlight =====*/
	.focal-point {
		// position: fixed;
		// top: 2rem;
		position: relative;
		// height: initial;
		// width: initial;
		padding: 0;
		min-height: 0;
		background-color: transparent;
		margin-bottom: 2rem;
			// min-height: 450px;

		.action {
			// position: absolute;
			// left: 50%;
			// bottom: 0;
			// transform: translate(-50%,50%);
			// top: 0;
			// transform: translate(-50%,-50%);
		}
	}


/*===== Typography =====*/
	.subheadline {
		text-align: center;
		font-size: 1.6rem;
		font-weight: 400;
		color: $secondary;
	}



/*===== Swipe =====*/
	// .drag-handle,
	.swipe-area {
		$x: 2rem;
		// min-height: $x;
		// min-width: $x;
		padding: 5px 10px;
		cursor: pointer;
		margin: 8px;
		// border: 2px solid $blue-state;
		background-color: #fff;
		border-radius: 5px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}

/*===== Draggable =====*/
	.draggable {
		cursor: pointer;
		&.dragging {
			transition: transform 0s;
		}
		transition: transform 1s;
	}
	// .dragged {
	// 	transition: transform 1s;
	// }
	// .dragging {
	// }
	// .drag-end {
	// 	transition: transform 1s;
	// }