@font-face {
  font-family: 'Amnesia';
  src:  url('fonts/Amnesia.eot?fl31fi');
  src:  url('fonts/Amnesia.eot?fl31fi#iefix') format('embedded-opentype'),
    url('fonts/Amnesia.ttf?fl31fi') format('truetype'),
    url('fonts/Amnesia.woff?fl31fi') format('woff'),
    url('fonts/Amnesia.svg?fl31fi#Amnesia') format('svg');
  font-weight: normal;
  font-style: normal;
}

.acon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Amnesia' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.acon-bubble_chart:before {
  content: "\e6dd";
}
.acon-star:before {
  content: "\e901";
}
.acon-flash:before {
  content: "\e902";
}
.acon-point-of-interest:before {
  content: "\e903";
}
.acon-infinity:before {
  content: "\e904";
}
.acon-cog2:before {
  content: "\e905";
}
.acon-waves:before {
  content: "\e906";
}
.acon-star-outline:before {
  content: "\e907";
}
.acon-flash-outline:before {
  content: "\e908";
}
.acon-ac_unit:before {
  content: "\eb3b";
}
.acon-all_inclusive:before {
  content: "\eb3d";
}
.acon-attach_file:before {
  content: "\e226";
}
.acon-brightness_low:before {
  content: "\e1ad";
}
.acon-brightness_high:before {
  content: "\e1ac";
}
.acon-broken_image:before {
  content: "\e3ad";
}
.acon-camera:before {
  content: "\e3af";
}
.acon-change_history:before {
  content: "\e86b";
}
.acon-wb_cloudy:before {
  content: "\e42d";
}
.acon-directions_run:before {
  content: "\e566";
}
.acon-explore:before {
  content: "\e87a";
}
.acon-extension:before {
  content: "\e87b";
}
.acon-favorite:before {
  content: "\e87d";
}
.acon-filter_vintage:before {
  content: "\e3e3";
}
.acon-fingerprint:before {
  content: "\e90d";
}
.acon-games:before {
  content: "\e021";
}
.acon-gesture:before {
  content: "\e155";
}
.acon-my_location:before {
  content: "\e55c";
}
.acon-star2:before {
  content: "\e838";
}
.acon-grain:before {
  content: "\e3ea";
}
.acon-graphic_eq:before {
  content: "\e1b8";
}
.acon-group_work:before {
  content: "\e886";
}
.acon-home2:before {
  content: "\e88a";
}
.acon-hourglass_full:before {
  content: "\e88c";
}
.acon-language:before {
  content: "\e894";
}
.acon-layers:before {
  content: "\e53b";
}
.acon-local_hospital:before {
  content: "\e548";
}
.acon-room:before {
  content: "\e8b4";
}
.acon-looks:before {
  content: "\e3fc";
}
.acon-map2:before {
  content: "\e55b";
}
.acon-memory:before {
  content: "\e322";
}
.acon-more_horiz:before {
  content: "\e5d3";
}
.acon-more_vert:before {
  content: "\e5d4";
}
.acon-nature:before {
  content: "\e406";
}
.acon-navigation:before {
  content: "\e55d";
}
.acon-new_releases:before {
  content: "\e031";
}
.acon-notifications:before {
  content: "\e7f4";
}
.acon-pan_tool:before {
  content: "\e925";
}
.acon-person:before {
  content: "\e7fd";
}
.acon-pets:before {
  content: "\e91d";
}
.acon-polymer:before {
  content: "\e8ab";
}
.acon-radio_button_checked:before {
  content: "\e837";
}
.acon-rss_feed:before {
  content: "\e0e5";
}
.acon-school:before {
  content: "\e80c";
}
.acon-security:before {
  content: "\e32a";
}
.acon-send:before {
  content: "\e163";
}
.acon-settings:before {
  content: "\e8b8";
}
.acon-textsms:before {
  content: "\e0d8";
}
.acon-stars:before {
  content: "\e8d0";
}
.acon-style:before {
  content: "\e41d";
}
.acon-swap_calls:before {
  content: "\e0d7";
}
.acon-texture:before {
  content: "\e421";
}
.acon-touch_app:before {
  content: "\e913";
}
.acon-wb_sunny:before {
  content: "\e430";
}
.acon-wifi:before {
  content: "\e63e";
}
.acon-wifi_tethering:before {
  content: "\e1e2";
}
.acon-hand-o-up:before {
  content: "\f0a6";
}
.acon-hand-pointer-o:before {
  content: "\f25a";
}
.acon-diamond:before {
  content: "\f219";
}
.acon-bars:before {
  content: "\f0c9";
}
.acon-navicon:before {
  content: "\f0c9";
}
.acon-reorder:before {
  content: "\f0c9";
}
.acon-home:before {
  content: "\e900";
}
.acon-spades:before {
  content: "\e917";
}
.acon-clubs:before {
  content: "\e918";
}
.acon-diamonds:before {
  content: "\e919";
}
.acon-stack:before {
  content: "\e92e";
}
.acon-lifebuoy:before {
  content: "\e941";
}
.acon-map:before {
  content: "\e94b";
}
.acon-lock:before {
  content: "\e98f";
}
.acon-cog:before {
  content: "\e994";
}
.acon-trophy:before {
  content: "\e99e";
}
.acon-target:before {
  content: "\e9b3";
}
.acon-bookmark:before {
  content: "\e9d2";
}
.acon-sun:before {
  content: "\e9d4";
}
.acon-contrast:before {
  content: "\e9d5";
}
.acon-star-full:before {
  content: "\e9d9";
}
.acon-heart:before {
  content: "\e9da";
}
.acon-infinite:before {
  content: "\ea2f";
}
.acon-command:before {
  content: "\ea4e";
}
.acon-radio-checked:before {
  content: "\ea54";
}
