$icomoon-font-path: "fonts" !default;

$acon-bubble_chart: "\e6dd";
$acon-star: "\e901";
$acon-flash: "\e902";
$acon-point-of-interest: "\e903";
$acon-infinity: "\e904";
$acon-cog2: "\e905";
$acon-waves: "\e906";
$acon-star-outline: "\e907";
$acon-flash-outline: "\e908";
$acon-ac_unit: "\eb3b";
$acon-all_inclusive: "\eb3d";
$acon-attach_file: "\e226";
$acon-brightness_low: "\e1ad";
$acon-brightness_high: "\e1ac";
$acon-broken_image: "\e3ad";
$acon-camera: "\e3af";
$acon-change_history: "\e86b";
$acon-wb_cloudy: "\e42d";
$acon-directions_run: "\e566";
$acon-explore: "\e87a";
$acon-extension: "\e87b";
$acon-favorite: "\e87d";
$acon-filter_vintage: "\e3e3";
$acon-fingerprint: "\e90d";
$acon-games: "\e021";
$acon-gesture: "\e155";
$acon-my_location: "\e55c";
$acon-star2: "\e838";
$acon-grain: "\e3ea";
$acon-graphic_eq: "\e1b8";
$acon-group_work: "\e886";
$acon-home2: "\e88a";
$acon-hourglass_full: "\e88c";
$acon-language: "\e894";
$acon-layers: "\e53b";
$acon-local_hospital: "\e548";
$acon-room: "\e8b4";
$acon-looks: "\e3fc";
$acon-map2: "\e55b";
$acon-memory: "\e322";
$acon-more_horiz: "\e5d3";
$acon-more_vert: "\e5d4";
$acon-nature: "\e406";
$acon-navigation: "\e55d";
$acon-new_releases: "\e031";
$acon-notifications: "\e7f4";
$acon-pan_tool: "\e925";
$acon-person: "\e7fd";
$acon-pets: "\e91d";
$acon-polymer: "\e8ab";
$acon-radio_button_checked: "\e837";
$acon-rss_feed: "\e0e5";
$acon-school: "\e80c";
$acon-security: "\e32a";
$acon-send: "\e163";
$acon-settings: "\e8b8";
$acon-textsms: "\e0d8";
$acon-stars: "\e8d0";
$acon-style: "\e41d";
$acon-swap_calls: "\e0d7";
$acon-texture: "\e421";
$acon-touch_app: "\e913";
$acon-wb_sunny: "\e430";
$acon-wifi: "\e63e";
$acon-wifi_tethering: "\e1e2";
$acon-hand-o-up: "\f0a6";
$acon-hand-pointer-o: "\f25a";
$acon-diamond: "\f219";
$acon-bars: "\f0c9";
$acon-navicon: "\f0c9";
$acon-reorder: "\f0c9";
$acon-home: "\e900";
$acon-spades: "\e917";
$acon-clubs: "\e918";
$acon-diamonds: "\e919";
$acon-stack: "\e92e";
$acon-lifebuoy: "\e941";
$acon-map: "\e94b";
$acon-lock: "\e98f";
$acon-cog: "\e994";
$acon-trophy: "\e99e";
$acon-target: "\e9b3";
$acon-bookmark: "\e9d2";
$acon-sun: "\e9d4";
$acon-contrast: "\e9d5";
$acon-star-full: "\e9d9";
$acon-heart: "\e9da";
$acon-infinite: "\ea2f";
$acon-command: "\ea4e";
$acon-radio-checked: "\ea54";

